*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav {
    background: white;
    height: 3rem;
    display: grid;
    align-items: center;
    box-shadow: var(--dark-shadow);
}